button {
  padding: 1%;
  font-size: 1rem;
}

input {
  padding: 1%;
}

label {
  text-transform: capitalize;
}

.menu {
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
}

.seed-wrapper {
  display: flex;
}

.users-table {
  padding: 1%;
  margin: 0 auto;
  height: 95vh;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.users-table,
td {
  border: 1px solid black;
}

td {
  padding: 5px;
}

@media (min-width: 600px) {
  .users-table {
    font-size: 1.1rem;
  }
  td {
    padding: 2px;
  }
}

@media (min-width: 800px) {
  .users-table {
    font-size: 1.3rem;
  }
}

@media (min-width: 1300px) {
  .users-table {
    width: 70%;
  }
}

@media (min-width: 1800px) {
  .users-table {
    width: 60%;
  }
}
